<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaulthref="demandas-tramite" text="">
      </ion-back-button>
    </ion-buttons>
    <ion-title size="small">Monto laudos condenatarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngFor="let semaforoLaudos of semaforosLaudos">

    <ion-card style="position: relative">

      <div align="center">
        <pinch-zoom>
          <ion-img class="img-post" [src]="semaforoLaudos.foto"></ion-img>
        </pinch-zoom>
      </div>

      <br>
  
        <ion-row>
        <ion-label> {{semaforoLaudos.nombre}}</ion-label>
        </ion-row>

        <ion-row>
        <pre>{{semaforoLaudos.descripcion}}</pre>
        </ion-row>
  
    </ion-card>
  </div>

  <br>

  <ion-item (click)="MontoEjecuciones()"><ion-icon name="arrow-forward-sharp"></ion-icon></ion-item> 


</ion-content>
