ion-title{
    font-weight: bold;
    text-align: center;
}

ion-header{
    position: relative;
    background-color: #E1EAF9;
}

h3{
    text-align: center;
}

.overflow-visible {
    white-space: initial;
  }

  ion-label{
    text-align: justify;
}