<ion-content>

  <div> <br> </div>
  <div style=" width: 100%;"> 

      <table height="auto" width="200px" style="margin: 0 auto;">

        <caption>Permanente</caption>

        <tr>
          <th>Mes</th>
          <th>Cantidad</th>
        </tr>     
       
        <tr class="align-items-center" *ngFor="let infoPermanente of Permanente">
          <td>             
            <ion-note>{{infoPermanente.indicador}}</ion-note>
          </td>
          <td>             
            <ion-note>{{infoPermanente.cantidad}}</ion-note>
          </td>
        </tr>
      </table>

  </div>

  <ion-item (click)="Eventual()"><ion-icon name="arrow-forward-sharp"></ion-icon></ion-item>
 
</ion-content>
