<ion-header>
  <ion-toolbar>
    <ion-title>Información STPSH</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
     
  <ion-card>

  <ion-card-header>
    MANTENTE EN CONTACTO CON NOSOTROS A TRAVÉS DE NUESTRAS REDES SOCIALES.
  </ion-card-header>


  <ion-card-content>
    <ion-item>
      <ion-label>
        SIGUENOS EN:
      </ion-label>
    </ion-item>

    <div style="margin: 0 auto;">
    <a href="https://s-trabajo.hidalgo.gob.mx/" title="Sitio Oficial Secretaría del Trabajo y Previsión Social de Hidalgo">
      <img src="assets/images/STPS.png" width="65px" height="65px" class="imgSTPSH">
    </a>
    </div>
   
      <br>
  
    <div style="margin: 0 auto;">
      <a href="https://www.facebook.com/Strabajohgo"  >
        <img src="assets/images/Facebook-logo-circular.png" title="Página de Facebook Secretaría del Trabajo y Previsión Social de Hidalgo" width="65px" height="65px">
      </a>
    </div>
 
      <br>
    
    <div style="margin: 0 auto;">
      <a href="https://twitter.com/strabajohgo?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-screen-name="false" data-show-count="false"><img src="assets/images/Twitter.png" title="@strabajohgo" width="65px" height="65px"></a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>  

  </ion-card-content>

  </ion-card>

</ion-content>
