<ion-content>
  <br>
  <br>
  <br>
  <h2>PEA Ocupada</h2>
    <br>
  
    <ion-row class="ion-text-center align-items-center">
      <ion-col size="12">
        <ion-text><h4>Actualizar registro</h4></ion-text>
      </ion-col>
      <ion-col size="10" offset="1">
        <ion-item>
          <ion-input [(ngModel)]="indicador" placeholder="indicador"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="10" offset="1">
        <ion-item>
          <ion-input type="number" [(ngModel)]="cantidad" placeholder="cantidad"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="10" offset="1">
        <ion-button expand="block" color="success" (click)="UpdatePEAOcupada(indicador, cantidad)">Update</ion-button>
      </ion-col>
      <ion-col size="10" offset="1">
        <ion-button expand="block" color="danger" (click)="CloseModal()">Cancel</ion-button>
      </ion-col>
    
    </ion-row>  
  
  </ion-content>
  