<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaulthref="variables" text="">
      </ion-back-button>
    </ion-buttons>
    <ion-title size="small">Junta Local de Conciliación y Arbitraje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <br>
  <br>

  <div style="margin-left: 20px; margin-right: 10px; margin-bottom: 20px; width: 95%; overflow: scroll;"> 
  
    <table height="230px" width="auto">

      <caption>Junta Local de Conciliación y Arbitraje</caption>

      <tr>
        <th style="width: 250px;">CONCEPTO</th>
        <th *ngFor="let infoJuntaLocal of JuntaLocal">
          <ion-note style="color: white;">{{infoJuntaLocal.periodo}}</ion-note>
        </th>
      </tr>

      <tr class="align-items-center" >
        <td style="text-align: justify;">           
          Laudos
        </td>
        <td *ngFor="let infoJuntaLocal of JuntaLocal">           
          <ion-note>{{infoJuntaLocal.laudos}}</ion-note>
        </td>
      </tr>

      <tr class="align-items-center" >
        <td style="text-align: justify;">            
          Convenios Dentro y Fuera de juicio 
        </td>
        <td *ngFor="let infoJuntaLocal of JuntaLocal">         
          <ion-note>{{infoJuntaLocal.conveniosJuicio}}</ion-note>
        </td>
      </tr>

      <tr class="align-items-center" >
        <td style="text-align: justify;">            
          Cantidad pagada en convenios (MDP)
        </td>
        <td *ngFor="let infoJuntaLocal of JuntaLocal">         
          <ion-note>${{infoJuntaLocal.cantidadPagadaConvenios}}</ion-note>
        </td>
      </tr>
      
    </table>
  
</div> 

</ion-content>
