<ion-content>

<ion-card>

  <ion-img src="assets/images/principal.png"></ion-img>

    <ion-card-header>   
    <ion-card-title>
      Bienvenido
    </ion-card-title>
    <ion-card-subtitle>
     Esta aplicación contiene datos estadísticos sobre los empleos en Hidalgo
    </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <div class="signin-btms">
        <ion-button fill="solid" shape="round" class="loginbtn" (click)="gotoLoginpage()">Login</ion-button>
        <ion-button fill="outline" shape="round" color="ligth" (click)="registerUser()">Sign Up</ion-button>
      </div>
    </ion-card-content>

  </ion-card>

</ion-content>

