<ion-header>
  <ion-toolbar>
    <ion-title>Actualizar</ion-title>
    <ion-buttons slot="start">
      </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content>

  <ion-card (click)="updestadistica()">
    <div align="center">
    <img src="assets/images/EstadísticaLaboral.png" width="260" height="130"></div>
    <ion-card-content>
      <ion-card-title>
        Actualizar Estadística Laboral
      </ion-card-title>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="updvariables()">
    <div align="center">
    <img src="assets/images/Variables.png" width="260" height="130"></div>
    <ion-card-content>
      <ion-card-title>
        Actualizar Variables
      </ion-card-title>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="updsemaforo()">
    <div align="center">
    <img src="assets/images/Semáforo.png" width="260" height="130"></div>
    <ion-card-content>
      <ion-card-title>
        Actualizar Semáforo
      </ion-card-title>
    </ion-card-content>
  </ion-card>


</ion-content>
