<ion-content>
  <br>
  <br>
  <br>
  <h2>Junta Local de Conciliación y Arbitraje</h2>
    <br>
  
    <ion-row class="ion-text-center align-items-center">
      <ion-col size="12">
        <ion-text><h4>Actualizar registro</h4></ion-text>
      </ion-col>
      <ion-col size="10" offset="1">
        <ion-item>
          <ion-input [(ngModel)]="periodo" placeholder="Periodo"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="10" offset="1">
        <ion-item>
          <ion-input type="number" [(ngModel)]="laudos" placeholder="Laudos"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="10" offset="1">
        <ion-item>
          <ion-input type="number" [(ngModel)]="conveniosJuicio" placeholder="Convenios Dentro y Fuera de juicio"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="10" offset="1">
        <ion-item>
          <ion-input type="number"  [(ngModel)]="cantidadPagadaConvenios" placeholder="Cantidad pagada en convenios (MDP)"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="10" offset="1">
        <ion-button expand="block" color="success" (click)="UpdateJuntaLocal(periodo, laudos, conveniosJuicio, cantidadPagadaConvenios)">Update</ion-button>
      </ion-col>
      <ion-col size="10" offset="1">
        <ion-button expand="block" color="danger" (click)="CloseModal()">Cancel</ion-button>
      </ion-col>
    
    </ion-row>  
  
  </ion-content>

