<ion-header>
  <ion-toolbar>
    <ion-title size="small">Permanente</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaulthref="total" text="">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-tabs>
    <ion-tab-bar slot="bottom,top">
    
      <ion-tab-button tab="permanentet">
        <ion-icon name="reorder-two-outline"></ion-icon>
        <ion-label>Tabla</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="permanenteg">
        <ion-icon name="bar-chart-outline"></ion-icon>
        <ion-label>Gráfica</ion-label>
      </ion-tab-button>
  
    </ion-tab-bar>
    </ion-tabs>

</ion-content>
