<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card (click)="estadistica()">
    <div align="center">
    <img src="assets/images/EstadísticaLaboral.png" width="260" height="130"></div>
    <ion-card-content>
      <ion-card-title>
        Estadística Laboral
      </ion-card-title>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="variables()">
    <div align="center">
    <img src="assets/images/Variables.png" width="260" height="130"></div>
    <ion-card-content>
      <ion-card-title>
        Variables
      </ion-card-title>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="semaforo()">
    <div align="center">
    <img src="assets/images/Semáforo.png" width="260" height="130"></div>
    <ion-card-content>
      <ion-card-title>
        Semáforo
      </ion-card-title>
    </ion-card-content>
  </ion-card>

</ion-content>
