<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaulthref="update" text="">
      </ion-back-button>
    </ion-buttons>
    <ion-title size="small">Actualizar Estadística Laboral</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <br>
    <br>

<header>
 <div class="menu_bar">
   <a href="#" class="bt-menu">Estadística</a>
 </div>

 <nav>
   <ul>

    <li class="submenu">
      <p (click)="PEA()">PEA<ion-icon name="chevron-forward-outline" class="caret"></ion-icon></p>
     </li>

     <br>

     <li class="submenu">
      <p (click)="PEAOcupada()">PEA Ocupada<ion-icon name="chevron-forward-outline" class="caret"></ion-icon></p>
     </li>

     <br>

     <li class="submenu">
      <p  (click)="PEADesocupada()">PEA Desocupada<ion-icon name="chevron-forward-outline" class="caret"></ion-icon></p>
     </li>

     <br>

     <li class="submenu">
      <p (click)="OcupacionInformal()">Ocupacion Informal<ion-icon name="chevron-forward-outline" class="caret"></ion-icon></p>
     </li>

     <br>

     <li class="submenu">
      <p (click)="TasaDesocupacion()">Tasa de Desocupación<ion-icon name="chevron-forward-outline" class="caret"></ion-icon></p>
     </li>

     <br>

     <li class="submenu">
      <p (click)="TasaInformalidad()">Tasa de Informalidad Laboral<ion-icon name="chevron-forward-outline" class="caret"></ion-icon></p>
     </li>

     <br>

     <li class="submenu">
      <p (click)="Total()">Total<ion-icon name="chevron-forward-outline" class="caret"></ion-icon></p>
     </li>

     <br>

     <li class="submenu">
      <p (click)="Permanente()">Permanente<ion-icon name="chevron-forward-outline" class="caret"></ion-icon></p>
     </li>

     <br>

     <li class="submenu">
      <p (click)="Eventual()">Eventual<ion-icon name="chevron-forward-outline" class="caret"></ion-icon></p>
     </li>

     <br>

     <li class="submenu">
      <p (click)="Mujeres()">Mujeres<ion-icon name="chevron-forward-outline" class="caret"></ion-icon></p>
     </li>

     <br>

     <li class="submenu">
      <p (click)="Hombres()">Hombres<ion-icon name="chevron-forward-outline" class="caret"></ion-icon></p>
     </li>

     <br>

     <li class="submenu">
      <p (click)="Salarios()">Salarios<ion-icon name="chevron-forward-outline" class="caret"></ion-icon></p>
     </li>

     

   </ul>
 </nav>
</header>

</ion-content>
